/* ====== ОБЩИЕ НАСТРОЙКИ ====== */
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #E6DAB3;
    margin: 10;
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;     /* по вертикали */
    height: 80vh;           /* 100% высоты окна */
    flex-direction: column;  /* элементы внутри будут вертикально один под другим */
}



/* Заголовок */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px 0;
    box-sizing: border-box; /* учитывает padding */
}



/* ====== КНОПКИ ====== */
.buttons {
    width: 200px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.buttons_row {
    display: flex;
    justify-content: center;   /* центрируем кнопки */
    align-items: center;
    gap: 145px;                 /* расстояние между ними */
    margin-top: 20px;
}


.buttons:hover {
    background-color: #45a049;
    transform: scale(1.05);  /* слегка увеличивается */
    transition: all 0.3s;    /* плавный переход */
}

a {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;       /* выравнивание текста по вертикали */
    text-align: center;
    color: #4CAF50;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    color: #46d83b;
}


/* ====== Уведомления ====== */
.notification {
    position: fixed;       /* фиксируем относительно окна браузера */
    top: 20px;             /* отступ от верха страницы */
    left: 40%;             /* по центру горизонтально */
    background-color: #4CAF50;  /* зелёный фон */
    color: white;               /* белый текст */
    padding: 10px 15px;         /* внутренние отступы */
    border-radius: 6px;         /* скругление углов */
    margin-bottom: 20px;        /* отступ снизу от других элементов */
    text-align: center;          /* текст по центру */
    font-weight: bold;           /* жирный текст */
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* лёгкая тень для объёма */
    opacity: 0;               /* начальная прозрачность */
    transform: translateY(-10px); /* чуть сдвинут вверх */
    transition: opacity 0.5s, transform 0.5s; /* плавный переход */
}
.notification.show {
    opacity: 1;               /* видимость */
    transform: translateY(0); /* возвращаем на место */
}



.password-row {
    position: relative; /* нужно, чтобы позиционировать кнопку внутри */
    width: 100%;
    margin: 5px 0;
}

.password-row input {
    padding-right: 50px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 5%;
    background: none;         /* убираем фон */
    border: none;             /* без рамки */
    cursor: pointer;
    font-size: 22px;
    color: #555;              /* цвет иконки */
    transition: color 0.2s, transform 0.1s; /* плавное изменение цвета и масштаба */
    transform: translateY(-50%)
}

.toggle-password:hover {
    color: #4CAF50;           /* зелёный при наведении */
}

.toggle-password:active {
    transform: translateY(-50%) scale(1.5); /* слегка увеличиваем кнопку */
}