<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_registr.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <h1>Регистрация</h1>
    <!-- Форма для уведомлений -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">{{ messages[0] }}</div>
            <script>
                const note = document.querySelector('.notification');
                if (note) {
                    note.classList.add('show'); // делаем видимым
                    setTimeout(() => {
                      note.classList.remove('show'); // <скрываем></скрываем>
                    }, 1500); // через 1.5 секунды
                }
            </script>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input name="username" placeholder="Имя пользователя" required>
        <div class="password-row">
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <button type="button" class="toggle-password" onclick="togglePassword()">👁</button>
        </div>
        <div class="buttons_row">
            <a href="{{ url_for('login') }}">Уже есть аккаунт? Войти</a>
            <button class="buttons" type="submit">Создать аккаунт</button>
        </div>
    </form>



    <!-- Отображение пароля -->
    <script>
    function togglePassword() {
      const passwordField = document.getElementById("password");
      const toggleButton = document.querySelector(".toggle-password");

      if (passwordField.type === "password") {
        passwordField.type = "text";
      } else {
        passwordField.type = "password";
      }
    }
    </script>

</body>
</html>